html {
	height:100%;
}

body {
	background-color: #eee;
	padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
 	height:100%;
}

footer {
    background-color: #76c2af;
    bottom: 0;
    margin-top: -60px;
    height: 60px;
    position: relative;
    width: 100%;
    border-top: 2px solid #6dcbbf;
}

.img-center {
	margin: 0 auto;
}

#wrap {min-height: 100%;}

#main {
	overflow:auto;
	padding-bottom:60px;   /* Height of the footer */
}

